# Ignorar bases de datos originales pesadas (Materia Prima)
data/ms_total.parquet
data/xs_total.parquet

# Ignorar archivos CSV
*.csv
data/*.csv

# Ignorar archivos temporales
.DS_Store
__pycache__/

# Ignorar las carpetas locales de PDFs (para no subir decenas de archivos sueltos)
comercio_sec_I/
comercio_sec_II/
data/raw/


# Ignorar zips en general, PERO permitir el zip oficial del dashboard
*.zip
!fichas_comercio_us.zip